{% extends 'base.html.twig' %}

{% block body %}
    <div id="react-app"></div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/bundle.js') }}"></script>
{% endblock %}
