---
  - name: Update apt
    apt:
      update_cache: yes
  - name: Install utilities
    apt:
      name: '{{ item }}'
      state: latest
    with_items:
      - build-essential
      - zip
      - unzip
      - git