---
  - name: Install LAMP packages
    apt:
      name: '{{ item }}'
      state: present
    with_items: '{{ lamp_packages }}'
  - include: mysql-config.yml
  - include: php-config.yml
  - include: apache-setup.yml